body {
    margin: 0;
    overflow-x: hidden;
}

.HostMsg {
    padding: 3px;
    margin: 1px;
    border-radius: 5px;
    background-color: rgba(0, 151, 167, 0.2);
}

.GuestMsg {
    padding: 3px;
    margin: 1px;
    border-radius: 5px;
    background-color: rgba(0, 188, 212, 0.2);
}

.ChatContainer {
    height: 100%;
    overflow-y: scroll;
    word-wrap: break-word;
}

.HistoryContainer {
    overflow-y: scroll;
    word-wrap: break-word;
}


.GameScreen {
    position: absolute;
    width: 100%;
    height: 100%;
}

.GameChat {
    height: 20%;
}

.GameField {
    height: 80%;
}

/* Below CSS is for vertical scrollbars */

::-webkit-scrollbar
{
    width: 22px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 10px
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0, 151, 167, 0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0, 151, 167, 0.4);
}